* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
body {
    font-family: "Silkscreen", sans-serif;
}

header {
    background-color: #00071a;
    padding: 16px;
    color: #f8c400;
}

body {
    background-color: #f8eeb3;
    color: #00071a;
}

header img {
    height: 60px;
}

header ul li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header ul li a {
    text-decoration: none;
    color: #f8c400;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section {
    padding: 24px 0;
}

section h2,
section p {
    margin-bottom: 16px;
}

section .container {
    align-items: flex-start;
}

.banner {
    height: 480px;
    margin-right: 32px;
}

.games {
    width: 300px;
    height: 550px;
    margin-bottom: 30px;
}

.games img {
    width: 300px;
    margin-bottom: 16px;
}

.games h3 {
    margin-bottom: 10px;
}

.games a {
    background-color: #00071a;
    color: #f8c400;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: auto; /* Empurra o link para o final da div */
}

#general_games .container {
    flex-wrap: wrap;
}
